@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #589442;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}


.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #ededed;
  padding: 0 10rem;
}

.brand a {
  color: #444444;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}

.header-links a {
  color: #444444;
  font-size: .875rem;
  font-weight: 500;
  padding: .3rem;
  font-weight: normal;
}

.header .header-links a:hover {
  color: #589442;
  transition: 400ms;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #121921;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* home scree */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li{
  flex: 0 1 34rem;
  flex-wrap: wrap;
  margin: 1rem;
  border: 1px solid #ededed;
  border-radius: .3rem;
  padding: 0;
  list-style: none;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .5rem;
}

.product-brand{
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

.product-img {
  max-width: 34rem;
  max-height: 34rem;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-rating {
  margin-bottom: 1rem;
}

.footer-card {
  padding: .3rem 1rem;
  background-color: #589442;
  width: 100%;
  color: #fff;
  border-radius: 0 0 .3rem .3rem;
}

.card-img-top {
  border-bottom: 1px solid #ededed;
}

.card-body {
  background-color: #f4f4f4;
}

.shadow-sm {
  overflow: hidden;
}

.card-img-top:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.jumbotron {
  background-color: #f4f4f4;
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron-heading {
  color: #444444;
}

footer {
  background-color: #121921;
  padding: 2rem 0;
}

footer p {
  margin-bottom: 0;
}

footer .cols {
  display: flex;
  flex-direction: column;
}

footer ul {
  list-style: none;
}

footer h4 {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 500;
  color: #fff;
}

footer li a {
  color: #fff;
  opacity: .6;
  font-weight: 100;
  text-decoration: none;
}

footer li a:hover {
  text-decoration: none;
  color: #fff;
  margin-left: .4rem;
  transition: 300ms;
}

.fa-angle-double-right {
  display: none;
}

footer .contact{
  text-align: justify;
}

.form-control {
  padding: 10px;
  font-size: .875rem;
}

form input[type='email'] {
  border: 0;
  height: 40px;
  border-radius: 0;
  padding-left: 15px;
  background-color: rgba(255,255,255,0.05);
  color: #ccc;
}

form input[type='email']:hover {
  border: 0;
}

form button[type='submit'] {
  position: absolute;
    right: 0;
    color: #fff;
    font-size: 1rem;
    top: 24px;
    border: 0;
    padding: 0 17px;
    height: 40px;
    line-height: 44px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    background-color: #589442;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.jumbotron-heading strong {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-heading img {
  max-width: 8%;
  margin-right: 1rem;
}

.fa-plus-circle {
  margin-left: .3rem;
}

@media (max-width: 600px) {
  .jumbotron-heading img {
    display: none;
  }
}